h1{
    color: black;
}
.header{
    font-size: 48px;
    color: navy;
    border-style: double;
    border-color: brown;
}
.img{
    width: 30;
    height: 30;
}
table{
    color: lightcoral;
    background-color: powderblue;
}
.page1{
    background-color: lightsteelblue;
}
.home{
    background-color: lightpink;
}
.page2{
    background-color: lightseagreen;
}
.page3{
    background-color: grey;
}
.page4{
    background-color: dodgerblue;
}
.page5{
    background-color: cornflowerblue;
}
